&NAM_PRODUCT
PROD_NAME = 'LST'
/
&NAM_NP_RESOLUTION
NP_RES = 0.04464,0.04464
/
&NAM_SPECIFIC_AREA
SA_NAME = 'GLOBE'
SA_LAT_BOUNDS = -80,80
SA_LON_BOUNDS = -180,180
/
&NAM_OUTPUT_TILING
split = .FALSE.
/
&NAM_OUTPUT_COMPRESSION
compression_level = 9
/
&NAM_TIME_AXIS
time_unit = "days since {{timeslot_iso}}"
time_value = 0.0
/
&NAM_ROOT_STR_ATTRS_N
root_str_attrs_n = 30
/
&NAM_ROOT_STR_ATTRS
root_str_attrs_names = "Conventions",
"title",
"institution",
"archive_facility",
"source",
"history",
"references",
"comment",
"name",
"long_name",
"identifier",
"date_created",
"product_version",
"algorithm_version",
"time_coverage_start",
"time_coverage_end",
"platform",
"sensor",
"orbit_type",
"processing_level",
"processing_mode",
"contacts",
"parent_identifier",
"inspire_theme",
"gemet_keywords",
"gcmd_keywords",
"other_keywords",
"iso19115_topic_categories",
"credit",
"purpose"
root_str_attrs_values = "CF-1.6",
"Global Land Surface Temperature for {{timeslot_iso_tz}}",
"IPMA",
"IPMA",
"Data was derived from satellite imagery.",
"{{creation_date_iso_tz}} - Product generation;",
"
Product User Manual: http://land.copernicus.eu/global/sites/default/files/
products/GIOGL1_PUM_LST_I1.10.pdf
\n
Validation Report: http://land.copernicus.eu/global/sites/default/files/
products/GIOGL1_VR_LST_I2.10.pdf
\n
Product page: http://land.copernicus.eu/global/products/lst
",
"
Land Surface Temperature (LST) is the radiative skin temperature over land.
 LST plays an important role in the physics of land surface as it is involved
 in the processes of energy and water exchange with the atmosphere. LST is
 useful for the scientific community, namely for those dealing with
 meteorological and climate models. Accurate values of LST are also of special
 interest in a wide range of areas related to land surface processes,
 including meteorology, hydrology, agrometeorology, climatology and
 environmental studies.
",
"LST",
"Land Surface Temperature",
"{{product_identifier}}",
"{{creation_date_iso_tz}}",
"V1.2",
"
{{europe_satellite_name}}-LST_v{{europe_lst_version}},
{{america_satellite_name}}-LST_v{{america_lst_version}},
{{asia_satellite_name}}-LST_v{{asia_lst_version}},
DataFusion_v{{ngp2grid_version}}
",
"{{time_coverage_start_iso_tz}}",
"{{time_coverage_end_iso_tz}}",
"
{{america_satellite_name}}, {{europe_satellite_name}},
{{asia_satellite_name}}
",
"
{{america_satellite_sensor}}, {{europe_satellite_sensor}},
{{asia_satellite_sensor}}
",
"GEO",
"L4",
"Near Real Time",
"
Principal investigator (Researcher): isabel.trigo@ipma.pt;
 Instituto Português do Mar e da Atmosfera (IPMA);
 Rua C ao Aeroporto; Lisbon; 1749-077; Portugal (PT);
 IPMA website; http://www.ipma.pt
\n
Originator (IPMA GIO-Global Land Help Desk): sandra.coelho@ipma.pt;
 Instituto Português do Mar e da Atmosfera (IPMA);
 Rua C ao Aeroporto; Lisbon; 1749-077; Portugal (PT);
 IPMA website; http://www.ipma.pt
\n
Point of contact (GIO-Global Land Help Desk): helpdesk@vgt.vito.be;
 Flemish Institute for Technological Research (VITO);
 Boeretang 200; Mol; 2400; Belgium (BE);
 VITO website; http://land.copernicus.eu/global/
\n
Owner: ENTR-COPERNICUS-ASSETS@ec.europa.eu;
 European Commission Directorate-General for Enterprise and
 Industry (EC-DGEI);
 Avenue d'Auderghem 45; Brussels; 1049; Belgium (BE);
 EC-DGEI website; http://ec.europa.eu/enterprise/
\n
Custodian (Responsible): copernicuslandproducts@jrc.ec.europa.eu;
 European Commission Directorate-General Joint Research Center (JRC);
 Via E.Fermi, 249; Ispra; 21027; Italy (IT);
 JRC website; http://ies.jrc.ec.europa.eu
",
"{{parent_identifier}}",
"Orthoimagery",
"solar radiation",
"SURFACE TEMPERATURE",
"Global",
"climatologyMeteorologyAtmosphereimageryBaseMapsEarthCover",
"
LST products were generated by the land service of Copernicus, the Earth
 Observation programme of the European Commission. The research leading to the
 current version of the product has received funding from various European
 Commission Research and Technical Development programs. The algorithm was
 originally developed in the framework of the FP7/Geoland2. The LST product is
 the property of IPMA/Portugal under copyright Copernicus It is generated from
 the MTSAT, GOES and MSG data provided by Eumetsat.
",
"
This product is first designed to fit the requirements of the Global Land
 component of Land Service of GMES-Copernicus. It can be also useful for all
 applications related to the environment monitoring.
"
/
&NAM_LST_BASE_ATTRS
lst_FillValue = -8000
lst_valid_range = -7000,8000
lst_scale_factor = 0.01
lst_add_offset = 273.15
/
&NAM_LST_STR_ATTRS_N
lst_str_attrs_n = 7
/
&NAM_LST_STR_ATTRS
lst_str_attrs_names = "standard_name",
"long_name",
"units",
"cell_methods",
"ancillary_variables",
"comment",
"grid_mapping"
lst_str_attrs_values = "surface_temperature",
"Land Surface Temperature",
"Kelvin",
"area:mean where land",
"Q_FLAGS, ERRORBAR_LST, TIME_DELTA, PERCENT_PROC_PIXELS",
"
Land Surface Temperature (LST) is the radiative skin temperature over land.
 LST plays an important role in the physics of land surface as it is involved
 in the processes of energy and water exchange with the atmosphere. LST is
 useful for the scientific community, namely for those dealing with
 meteorological and climate models. Accurate values of LST are also of
 special interest in a wide range of areas related to land surface processes,
 including meteorology, hydrology, agrometeorology, climatology and
 environmental studies.
",
"crs"
/
&NAM_Q_FLAGS_BASE_ATTRS
q_flags_FillValue = 32
q_flags_valid_range = 0,32
/
&NAM_Q_FLAGS_STR_ATTRS_N
q_flags_str_attrs_n = 5
/
&NAM_Q_FLAGS_STR_ATTRS
q_flags_str_attrs_names = "long_name",
"cell_methods",
"flag_meanings",
"comment",
"grid_mapping"
q_flags_str_attrs_values = "LST Quality Flags",
"area:mode",
"
goes, msg, mtsat, multimission, sea_pixel, cloud_free_pixel,
 pixel_contaminated_by_clouds, pixel_filled_by_clouds, unprocessed_pixel,
 pixel_out_of_disk
",
"
Quality FLAGS giving the information about the satellite(s) used to retrieve
 the data as well as the cloudiness of each grid point
",
"crs"
/
&NAM_Q_FLAGS_INT_ARRAY_ATTRS_N
q_flags_int_array_attrs_n = 2
/
&NAM_Q_FLAGS_INT_ARRAY_ATTRS
q_flags_int_array_attrs_names = "flag_masks",
"flag_values"
q_flags_int_array_attrs_values = "3,3,3,3,28,28,28,28,28,32",
"0,1,2,3,0,4,8,12,16,32"
/
&NAM_ERRORBAR_LST_BASE_ATTRS
errorbar_lst_FillValue = -1
errorbar_lst_valid_range = 0,5000
errorbar_lst_scale_factor = 0.01
/
&NAM_ERRORBAR_LST_STR_ATTRS_N
errorbar_lst_str_attrs_n = 6
/
&NAM_ERRORBAR_LST_STR_ATTRS
errorbar_lst_str_attrs_names = "standard_name",
"long_name",
"units",
"cell_methods",
"comment",
"grid_mapping"
errorbar_lst_str_attrs_values = "surface_temperature standard_error",
"LST Error Bar",
"degree Kelvin",
"area:mean",
"Error bar for LST product","crs"
/
&NAM_TIME_DELTA_BASE_ATTRS
time_delta_FillValue = -99
time_delta_valid_range = -30,30
/
&NAM_TIME_DELTA_STR_ATTRS_N
time_delta_str_attrs_n = 5
/
&NAM_TIME_DELTA_STR_ATTRS
time_delta_str_attrs_names = "long_name",
"units",
"cell_methods",
"comment",
"grid_mapping"
time_delta_str_attrs_values = "LST Time Deltas",
"minute",
"area:mean",
"
Data acquisition time given by the difference in minutes between the
 observation time and the reference time, indicated in the temporal dimension
",
"crs"
/
&NAM_PERCENT_PROC_PIXELS_BASE_ATTRS
percent_proc_pixels_FillValue = -1
percent_proc_pixels_valid_range = 0,100
/
&NAM_PERCENT_PROC_PIXELS_STR_ATTRS_N
percent_proc_pixels_str_attrs_n = 5
/
&NAM_PERCENT_PROC_PIXELS_STR_ATTRS
percent_proc_pixels_str_attrs_names = "long_name",
"units",
"cell_methods",
"comment",
"grid_mapping"
percent_proc_pixels_str_attrs_values = "LST Percentage of Processed Pixels",
"%",
"area:mean",
"Percentage of processed pixels used in the data fusion processing step",
"crs"
/
